@import url('https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Josefin+Sans|Work+Sans');
/* font-family: 'Work Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Cinzel', serif; */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
